.venv

uv.lock

.idea

# Ignore everything inside exercises
uni-course/exercises/

uni-course/spotify-data-project/data
uni-course/spotify-data-project/data/reports

freeCodeCamp-course/project-4/IMDB Dataset.csv

# Ignore datasets_modeling
machine-learning/logistic-regression/weatherAUS.csv
machine-learning/desicion-trees-random-forest/weatherAUS.csv
machine-learning/machine-learning-specialization/notebooks
*.csv
